.click{
  border-top-style:solid gray;
  border-right-style:solid gray;
  border-left-style:solid gray;
  background-color: white;
  border-radius: 0.1em;
  font-weight: bold;
  }
  
.nav-menu{
  color: whitesmoke;
  background-color: #06062e;
  width: 100%;
  font-size: 1.6em;
}

.b {
  color: #06062e;
  font-weight: bold;
}

.a{
  color:snow;
  font-weight: bold;
}
  
.a:hover{
  background-color: #060668;
  cursor: pointer;
  color:snow !important;
}